.projects {
    width : 100%;
    min-height: 100vh;
    background-color: var(--bright-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.projects-head{
    flex: 0.15;
    width: 90%;
    font-size: 3.2rem;
    margin-top: 2%;
}
.projects-body{
    flex: 0.7;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}
.card{
    width: 35%;
    height: 30%;
    min-width: 400px;
    min-height: 280px;
    background-color: transparent;
    border: none;
    position: relative;
    /* min-width: 350px;
    min-height: 340px; */
    margin: 2%;
}



.card {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 1em;
    padding: 1em 2em;
    background: #313131;
    border-radius: 30px;
    color: white;
    font-size: 1.5rem;
    border: 2px solid black;
}
.pigshell{
    margin-top: -5%;
}

.front-head{
    flex: 0.25;
    width: 90%;
    font-size: 2.2rem;
    color: var(--background);
    text-shadow: 2px 2px var(--primary);
    font-weight: 600;

}
.zuros > p{
    padding-right: 4%;
}
.card>p:first-of-type{
    width: 90%;
}
.more-btn{
    background-color: var(--bright-yellow);
    width: 30%;
    min-width: 120px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    color: black;
    margin-top: 4%;
}
.more-btn:hover{
    cursor: pointer;
}

.pig-cam{
    height: 60%;
    width: 70%;
    position: absolute;
    right: -15%;
    bottom: -10px;
}
.eth-block{
    height: 60%;
    width: 50%;
    position: absolute;
    right: -10%;
    bottom: -10px;
}
.projects-all{
    position: absolute;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    bottom: 0;
    right: 10px;
    font-size: 3rem;
    font-family: var(--baloo);
    font-weight: 600;
    color: var(--background);
    text-shadow: 4px 4px black;
}
.projects-all>.arrow {
    position: relative;
}

@media only screen and (max-width : 950px) {
    .projects-head{
        flex: 0.1;
        font-size: 2.5rem;
        line-height: 2rem;
        display: flex;
        align-items: flex-end;
        position: relative;
        z-index: 5;
    } 
    .projects-body{
        flex: 0.8;
    }
    .arrow{
        height: 80px;
        width: 80px;
        top : -15%;
    }
    .projects-all{
        font-size: 2rem;
    }
    
}

@media only screen and (max-width : 800px){
    .projects-body{
        gap : 1%;
    }
    .projects{
        min-height: 100vh;
    }
    .pigshell{
        margin-top: 2%;
    }   
    .card {
        width : 45%;
    }
    .projects-all{
        bottom: -5px;
    }
}

@media only screen and (max-width : 540px) {
    .projects-head{
        font-size: 1.8rem;
        line-height: 1.3rem;
    } 
    .projects-body{
        align-items: center;
    }
    .card{
        font-size: 1.2rem;
        min-width: 320px;
        min-height: 220px;
    }
    .front-head{
        font-size: 1.8rem;
    }    
}
  